* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
    margin: 0;
    padding: 0;
}

.custom-container{
    width: 1270px;
    margin: auto;
 }
 body{
    background: #EAE9E3;
 }

 .accessImg2 img{
    display: none;
 }

 .qualityImg2 img{ 
    display: none;
 }

 .button2{
    display: none;
 }

 #Banner #vid{
   display: hidden;
 }

 .screenText1{
    display: none;
 }

.uptoOnline video{
    width: 669.6px;
    height: auto;
    border-radius: 47px;
    position: absolute;
    left: 24%;
    top: 0;
    z-index: -1;
}
.uptoCon{
    position: relative;
}
#uptoOnline{
    padding: 13rem 0;
}

.uptoOnline h2{
    font-family: "Forum", serif;
    font-size: 103.55px;
    font-weight: 400;
    line-height: 104.39px;
    text-align: center;
    color: #FF2E00;
    padding-top: 8rem;
}